.page{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}


.Heading{
    font-size: 54px; /* Adjust font size as needed */
    font-weight: bold; /* Optionally make the text bold */
    color: #333; /* Set text color */
    text-align: center; /* Center align text */
    padding: 20px; 
}