
.progress_frame{
    border: 2px solid black;
    width:60%;
    height: 4vh;
    border-radius:100px ;
    display: flex; 
    align-items: center;
    overflow: hidden;
}

.color {
    position: relative;
    z-index: -1;
    color: blue;
    height: 100%;

    /* border: 2px solid black; */
    flex-grow: 0;
    left:0;
    transition: width 0.1s ease-in;
    text-align: left; /* Ensures the text starts from the left */
    white-space: nowrap; /* Prevents text from wrapping */
}
.value {
    position: absolute; /* Allows centering independent of other elements */
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.text {
    font-size: 54px; /* Adjust font size as needed */
    font-weight: bold; /* Optionally make the text bold */
    color: #333; /* Set text color */
    text-align: center; /* Center align text */
    padding: 20px; /* Add padding for spacing */
}

.loading-indicator {
    /* position: relative; */
    width: 100%;
    height: 100%;
    display: flex;
    background-color: white;
    box-shadow: none;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
}

.loading-indicator::before {
    width: 24px; /* Size of the spinner */
    height: 24px;
    animation: spin 0.8s linear infinite; /* Animation */
}

@keyframes spin {
    to {
        transform: rotate(360deg); /* Full rotation */
    }
}
